.over-all-wrapper, .over-all-wrapper-edit {
    /* border: 1px solid red; */
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: start;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

.wrapper {
    flex: 0 0 auto;
    font-family: Arial, sans-serif;
    width: 450px;
    margin: 40px auto;
    background: #f5f5f5;
    border-radius: 10px;
    padding: 20px 20px;
    /* border: 1px solid red; */
}

.wrapper > h2 {
    color: #333;
}

.form-create {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 100%;
}

.form-create > input {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-create > button {
    padding: 8px 12px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-create > button:hover {
    opacity: 0.7;
}

