<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% if title %}
      Practice - {{title}}
    {% else %}
      Pratice - None
    {%endif%}
  </title>
  <link rel="stylesheet" href="{{url_for("static", path="css/general_style.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/sections_css.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/post_edit_ai.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/login_register_ai.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/header_style_ai.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/all_post_page_ai.css")}}">
  <link rel="stylesheet" href="{{url_for("static", path="css/account_page_ai.css")}}">
</head>
<body>
  
  <header class="header">
    <!-- LEFT -->
    <div class="header-left">
        <a href="{{url_for('home')}}"
            class="logo-link">
            IREASONER PRACTICE
        </a>
    </div>
    <!-- CENTER -->

    <nav class="header-center">
        <a href="{{url_for('home')}}" class="nav-link">
            Home
        </a>
    </nav>

    <!-- RIGHT -->

      <div class="header-right">
        <button class="new-post-button js-create-new-post">
            + New Post
        </button>

        <!-- COMPACT USER -->

        <a href="{{url_for('load_account_page')}}" class="header-user js-user-container">
            <img
                class="header-user-image js-user-img"
                alt="profile"
            >
            <div class="header-user-details">
                <span class="header-user-name js-user-username">
                    <!-- IReasoner -->
                </span>
                <span class="header-user-email js-user-email">
                    <!-- me@gmail.com -->
                </span>
            </div>
        </a>

        <a href="{{url_for('load_login_page')}}">
            <button class="auth-button login-button js-login-button">
                Login
            </button>
        </a>

        <a href="{{url_for('load_register_page')}}">
            <button class="auth-button register-button js-register-button">
                Register
            </button>
        </a>
    </div>
</header>


  {% if dont_show_div %}
    <div class="normal">
  {% else %}
    <div class="js-all-body-pages">
  {% endif %}

  {% block content%} {%endblock content%}
    </div>

  <div class="over-all-wrapper js-over-all-wrapper hide">

    <div class="wrapper">
        <h2>Create Post</h2>

    <form class="postForm form-create">
        <input type="text" name="title" class="title-form" placeholder="Title" required>
        <input type="text" name="content" class="content-form" placeholder="Content" required>
        <button type="submit">Submit</button>
    </form>
    <button class="cancel js-cancel-home">Cancel</button>
    </div>
</div>

<script src="{{url_for("static", path="script/main.js")}}", type="module"></script>

</body>
</html>