{% extends "layout_page.html" %}
{% block content%}
<div class="login-body-container">
  <section class="login-auth-container">
    <h2 class="login-auth-title">Login</h2>

    <form class="js-login-form">
      <div class="login-form-group">
        <label class="form-label">Email</label>
        <input
          type="text"
          class="login-form-input js-login-email"
          placeholder="Enter your email"
          name="username"
          required
        />
      </div>

      <div class="login-form-group">
        <label class="login-form-label">Password</label>
        <input
          type="password"
          class="login-form-input js-login-password"
          placeholder="Enter your password"
          name="password"
          required
        />
      </div>

      <button type="submit" class="login-form-button">
        Login
      </button>
    </form>

    <p class="login-success-message js-login-message"></p>
  </section>
  </div>
  <script src="{{url_for("static", path="script/login.js")}}", type="module"></script>
{% endblock content %}


