<header class="header">
    <div><a href="{{url_for("home")}}">Home</a></div>
    <div>IREASONER PRACTICE</div>
    <div class="all-buttons">
      <button class="new-post-button js-create-new-post">New Post</button>

      <div class="user-email js-user-email">me@gmail.com</div>

      <a href="{{url_for("load_login_page")}}">
      <button class="js-login-button">Login</button>
      </a>

      <a href="{{url_for("load_register_page")}}">
      <button class="js-register-button">Register</button>
      </a>

      <button class="js-login-out">Logout</button>

    </div>
    
  </header>


{% extends "layout_all_page.html" %}

{% block content %}

{% for c in all_post %}

<div class="blog_container">
    <div class="author">
      {{c.to_user.username}}
    </div>
    <div class="title_content">
      <p class="title"><a href="{{ url_for( "post_page", post_id=c.id ) }}">{{c.title}}</a></p>
      <p class="content">{{c.content}}</p>
    </div>
    <div class="date">{{c.date_posted.strftime("%B %d, %Y")}}</div>
  </div>

{% endfor %}

{% endblock content %}